= item.item_name

.main__pickup__box__lists__list
  =link_to item_path(item.id) do
    .product--img
      - item.images.each do |img|
        = image_tag img.image.url
      
      
    .product--body
      %h3 
        = item.item_name
      .product--body--detail
        %ul
          %li
            #{item.item_price} 円
          %li
            %i.fa.fa-star 
            0
        %p (税込)


