= form_with url: search_items_path, local: true, method: :post, class: "search-form" do |form|
  = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
  = button_tag type: 'submit', class: 'btn btn-primary' do
    =icon("fas","search")

.contents.row
  - @items.each do |item|
    = render partial: "item", locals: { item: item }



.l-side
  .search-sort
    .select-wrap
      %select{name: :sort_order, class: 'sort_order'}
        %option{value: "location.pathname", name: "location.pathname"}
          並び替え
        %option{value: "price_asc"}
          価格の安い順
        %option{value: "price_desc"}
          価格の高い順
        %option{value: "created_at_asc"}
          出品の古い順
        %option{value: "created_at_desc"}
          出品の新しい順